/*      Card matrix      */
.card-container {
    width: 100%;
    margin: 30px 0 30px 0;
    display: grid;
}

/*      Card styles       */
.card {
    height: 350px;
    background-color: transparent;
    perspective: 1000px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-content {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: #a0181f;
    color: #fdfdfd
}

.card-back {
    background-color: #dfdfdf;
    color: #030303;
    transform: rotateY(180deg);
    overflow-y: scroll;
}

/*      Portrait        */
.card-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: #dfdfdf;
}

/*      Bio Text        */
.card-bio {
    margin: 0 40px 30px 40px;
    text-align: justify;
}

/*     Person Name      */
.name {
    height: 50px;
    line-height: 50px;
    text-align: left;
    vertical-align: middle;
}

/* Officer Position Text */
.position {
    font-size: 20px;
    font-style: italic;
    float: right;
    margin: 0px 10px 0px 10px;
}

/*----------------------*/
/*    Desktop Styles    */
/*----------------------*/
@media only screen and (min-width: 872px) {
    .card-container {
        grid-template-columns: 35% 35%;
        grid-column-gap: 10%;
        grid-row-gap: 35px;
        margin-left: 10%;
    }
    .card-container.coach {
        grid-template-rows: 350px 350px 350px;
    }
    .card-container.officer {
        grid-template-rows: 350px 350px;
    }
    .name {
        font-size: 22px;
        margin: -6px 30px 0px 30px;
    }
}

/*----------------------*/
/*    Mobile Styles     */
/*----------------------*/
@media only screen and (max-width: 872px) {
    .card-container {
        grid-template-columns: 90%;
        grid-column-gap: 5%;
        grid-row-gap: 1.5rem;
        margin-left: 5%;
    }
    .card-container.coach {
        grid-template-rows: auto auto auto auto auto auto auto;
    }
    .card-container.officer {
        grid-template-rows: auto auto auto auto;
    }
    .name {
        font-size: 1.5rem;
        margin: -6px 0.25rem 0 1rem;
    }
}
