.card-container {
    width: 100%;
    margin: 30px 0 30px 0;
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;
}
.card-container.coach {
    grid-template-rows: 350px;
}
.card-container.officer{
    grid-template-rows: 350px 50px 350px;
}

.card {
    height: 350px;
    background-color: transparent;
    perspective: 1000px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;	
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-content {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: #a0181f;
    color: #ffffff;
}

.card-back {
    background-color: #dfdfdf;
    color: #000000;
    transform: rotateY(180deg);
    overflow-y: scroll;
}

.card-img {
    width: 100%;
    height: 300px;
    background-color: #dfdfdf;
}

.card-bio {
    margin: 0 40px 30px 40px;
    text-align: justify;
}

.name {
    font-size: 22px;
    margin: -6px 30px 0px 30px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    vertical-align: middle;
}

.position {
    font-size: 20px;
    font-style: italic;
    float: right;
    margin: 0px 10px 0px 10px;
}

/************************/
/*    Mobile Styles     */
/************************/
@media only screen and (max-width: 872px) {
    .card-container {
        width: 100%;
        margin: 30px 0 30px 0;
        display: grid;
        grid-template-columns: 5% 90% 5%;
    }
    .card-container.coach {
        grid-template-rows: 25rem 2rem 25rem;
    }
    .card-container.officer {
        grid-template-rows: 25rem 2rem 25rem 2rem 25rem 2rem 25rem 2rem;
    }
}
