/************************/
/*    Desktop Styles    */
/************************/
.slideshow {
    width: 100%;
    height: 950px;
    background-image: url('../images/home/cast.png');
    background-position-y: 38%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 872px) {
    .slideshow {
        width: 100vw;
        height: 16rem;
    }
}

/* Card Containers */
.three-card-container {
    display: grid;
    margin: 0 50px 50px 50px;
    grid-template-columns: 31% 31% 31%;
    grid-row-gap: 2.5vw;
    grid-column-gap: 3.5%;
}
.four-card-container {
    display: grid;
    margin: 0 50px 0 50px;
    grid-template-columns: 22% 22% 22% 22%;
    grid-row-gap: 2.5vw;
    grid-column-gap: 4%;
}

/* Styling of a basic card for a card container */
.grid-card {
    border-radius: 5px;
}
/* card image */
.grid-card div {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* card header */
.grid-card h3 {
    width: 80%;
    height: 50px;
    margin: -25px 10% 20px 10%;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
.grid-card h4 {
		font-size: 1.8rem;
}
/* card content */
.grid-card p {
    margin: 5% 10% 10% 10%;
    text-align: justify;
}

/* Explore Section */
.explore-container {
    display: grid;
    margin: 0 50px 20px 50px;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 3%;
}

.explore-card {
    text-align: center;
    min-height: 100px;
}

.explore-card a {
    display: inline-block;
    height: 75px;
    width: 75px;
    margin: 0;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 50%;
    text-decoration: none;
    font-size: 32px;
}

/* Upcoming Events Section */
.event-card p {
    margin: 0 20px 0 20px;
    text-align: justify;
}

/* Mission Statement Section */
.mission-container {
    margin: 0 150px 50px 150px;
    font-size: 20px;
}

/* Our Dojo Section */
.dojo {
    margin: 0;
    width: 100%;
    min-height: 400px;
    padding: 50px;
    background-image: url('../images/home/jinenkai.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fdfdfd;
}

.image-floater {
    height: 100%;
    width: 25%;
    margin-left: 16%;
    padding: 2% 5% 2% 5%;
    border-radius: 35px;
    background-color: rgb(223, 223, 223, 0.75);
}
.image-floater h2 {
    font-size: 32px;
}
.image-floater p {
    font-size: 16px;
    text-align: justify;
}

/************************/
/*    Mobile Styles     */
/************************/
@media only screen and (max-width: 872px) {
    .three-card-container {
        display: grid;
        margin: 0 2rem 2rem 2rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-row-gap: 2rem;
    }

    .four-card-container {
        display: grid;
        margin: 0 2rem 0 2rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 2rem;
    }

    .mission-container {
        margin: 0 4rem 2rem 4rem;
        font-size: 1rem;
    }

    .explore {
        min-height: 150px;
        background-color: #fdfdfd;
        color: #030303;
    }

    .explore-container {
        width: 100%;
        margin: 0 4% 1rem 4%;
        grid-template-columns: 20% 20% 20% 20%;
        grid-column-gap: 4%;
    }

    .explore-card a {
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 1.5rem;
    }

    .explore-card h3 {
        font-size: 1rem;
    }

    .dojo {
        background-image: none;
        padding: 5%;
    }

    .image-floater {
        width: 80%;
        margin: 0;
        padding: 2% 5% 2% 5%;
        border-radius: 2rem;
        background-color: rgb(223, 223, 223, 0.75);
    }
    .image-floater h2 {
        font-size: 2.5rem;
    }
    .image-floater p {
        font-size: 1.25rem;
        text-align: justify;
    }
}
