/************************/
/*    Desktop Styles    */
/************************/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* grid-template-rows: auto auto auto; */
    grid-column-gap: 30px;
    height: 80vh;
    margin: 0px 30px 0px 30px;
}
.grid-container * {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 -3px 3px 0 rgba(0, 0, 0, 0.20);
}

.image {
    text-align: center;
    color: #a0a0a0;
    background-color: #3a3a3a;
    grid-column: 1 / 7;
    background-image: url('../images/test.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 30%;
    height: 70vh;
    width: 70vw;
}

.schedule {
    text-align: left;
    padding: 0px 20px 0px 20px;
    background-color: #dfdfdf;
    grid-column: 7 / 8;
    width: 20vw;
    height: 70vh;
}
.schedule > * {
    box-shadow: none;
}

/************************/
/*    Mobile Styles     */
/************************/
@media only screen and (max-width: 872px) {
    .grid-container {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 2rem 20rem 3rem 20rem 3rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
    .image {
        width: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .schedule {
        width: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}