/************************/
/*    Desktop Styles    */
/************************/
.slideshow {
    width: 100%;
    height: 500px;
    background-image: url('../images/gallery/gallery_8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Explore */
.explore {
    min-height: 150px;
    background-color: #fdfdfd;
    color: #030303;
}

.explore-container {
    display: grid;
    margin: 0 50px 20px 50px;
    grid-template-columns: 22% 22% 22% 22%;
    grid-column-gap: 3%;
}

.explore-card {
    text-align: center;
    min-height: 100px;
}

.explore-card a {
    display: inline-block;
    height: 75px;
    width: 75px;
    margin: 0;
    line-height: 75px;
    vertical-align: middle;
    border-radius: 50%;
    text-decoration: none;
    color: #fdfdfd;
    font-size: 32px;
    background-color: #a0181f;
}

.explore-card span {
    text-align: center;
}

/* Upcoming Events */
.events {
    min-height: 300px;
    background-color: #a0181f;
    color: #fdfdfd;
}

.three-card-container {
    display: grid;
    margin: 0 50px 50px 50px;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3%;
}
.three-card {
    background-color: #fdfdfd;
    color: #030303;
    min-height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 1px #333333;
}
.event-card p {
    margin: 0 20px 0 20px;
    text-align: justify;
}

/* Mission Statement */
.mission {
    min-height: 150px;
    background-color: #030303;
    color: #fdfdfd;
}

.mission-container {
    margin: 0 150px 50px 150px;
    font-size: 20px;
}

/* Practice Schedule */
.schedule {
    min-height: 150px;
    background-color: #dfdfdf;
    color: #a0181f;
}

/* Alumni */
.alumni {
    min-height: 400px;
    padding: 50px;
    background-image: url('../images/gallery/gallery_0.jpg');
    background-size: cover;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    color: #fdfdfd;
}

.image-floater {
    /* padding-top: 20px; */
    height: 100%;
    min-height: 400px;
    font-size: 28px;
    border-radius: 35px;
    background-color: rgb(223, 223, 223, 0.75);
    color: #a0181f;
}

/************************/
/*    Mobile Styles     */
/************************/
@media only screen and (max-width: 872px) {
    .grid-container {
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 2rem auto 2rem auto 2rem;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
    .image {
        width: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .schedule {
        width: auto;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}