@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: "Titillium Web", "Helvetica", sans-serif;
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd;
}

/*--------------------------*/
/*      Text Styles         */
/*--------------------------*/
b {
    font-weight: bold;
    color: #a0181f;
}
a {
    color: #a0181f;
}
ul {
    text-align: left;
}
.red-text {
    color: #a0181f;
}
.black-text {
    color: #030303;
}
.white-text {
    color: #fdfdfd;
}
.gray-text {
    color: #dfdfdf;
}
/* Content Styles */
.red {
    background-color: #a0181f;
}
.black {
    background-color: #030303;
}
.white {
    background-color: #fdfdfd;
}
.gray {
    background-color: #dfdfdf;
}

/* Set the appropriate base font-size for the screen */
@media only screen and (max-width: 400px) {
    /* Older Phones */
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
    /* Newer Phones */
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 872px) {
    /* Tablets */
    html {
        font-size: 24px;
    }
}

/* User can't click & drag the header image */
header {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/*--------------------------*/
/*    Main Content Styling   */
/*--------------------------*/
/* Leaves space for header and footer */
@media only screen and (min-width: 872px) {
    main {
        padding-top: 240px;
        padding-bottom: 180px;
    }
}
@media only screen and (max-width: 872px) {
    main {
        padding-top: 4rem;
        padding-bottom: 14rem;
    }
}

/*     Announcement Pop-Up Banner     */
.announcement {
    position: fixed;
    z-index: 30;
    width: 60%;
    padding: 2.5%;
    margin: 25px 17.5% 0 17.5%;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1.25rem;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.25s linear;
    pointer-events: none;
}
.announcement a {
    pointer-events: all;
    cursor: pointer;
}
.close-announcement {
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    pointer-events: all;
    cursor: pointer;
}

@media only screen and (max-width: 872px) {
    .announcement {
        font-size: 1.25rem;
        height: auto;
        width: 75%;
        padding: 7.5%;
        margin: 25px 5% 0 5%;
    }
    .close-announcement {
        font-size: 2.5rem;
        right: 0.75rem;
        top: 0.25rem;
    }
}

/*--------------------------*/
/*      Header Styles       */
/*--------------------------*/
header {
    position: absolute;
}

/* Background wave banner for header */
.banner {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 130% 130%;
    background-position-x: -30vw;
    background-position-y: -1vh;
}
@media only screen and (min-width: 872px) {
    .banner {
        height: 240px;
        width: 100vw;
    }
}
@media only screen and (max-width: 872px) {
    .banner {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        text-align: right;
        color: #dfdfdf;
        box-shadow: 0 10px 15px rgba(155, 155, 155, 0.4);
    }
}

/*      Club Name Header      */
.header-title {
    position: absolute;
    font-size: 56px;
    font-family: "Cinzel", serif;
    color: #dfdfdf;
    right: 75px;
    top: 50px;
}
.header-subtitle {
    position: absolute;
    font-family: "Cinzel", serif;
    color: #a0181f;
}
@media only screen and (min-width: 872px) {
    .header-title {
        font-size: 56px;
        right: 75px;
        top: 50px;
    }
    .header-subtitle {
        font-size: 42px;
        right: 80px;
        top: 105px;
    }
}
@media only screen and (max-width: 872px) {
    .header-title {
        font-size: 1.5rem;
        right: 1rem;
        top: 0.5rem;
    }
    .header-subtitle {
        font-size: 1.35rem;
        right: 1rem;
        top: 2rem;
    }
}

/* Circle Menu (For Desktop) */
.circular-menu {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}
@media only screen and (max-width: 872px) {
    /* Hide circlemenu on mobile */
    .circular-menu {
        display: none;
    }
}

/* Ring of icons */
.circle {
    width: 250px;
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
/* Ring of icons (while opened) */
.open.circle {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
/* Individual Page Icons */
.circle a {
    text-decoration: none;
    background-color: #a0181f;
    border-radius: 50%;
    color: #fdfdfd;
    display: block;
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 0;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
    -o-box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}
.circle a:hover {
    background-color: #cf3c43;
    transition: background-color 0.5s ease;
}

/* Button for circle menu (Jinen-Kai Logo) */
.menu-button {
    position: absolute;
    top: 56px;
    left: 65px;
    height: 120px;
    width: 120px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    z-index: 5;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    -o-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.menu-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    -o-box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

/* Dropdown Menu (For Mobile) */
.toggle-button {
    display: none;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    vertical-align: center;
}

@media only screen and (max-width: 872px) {
    .toggle-button {
        display: block;
        position: fixed;
        color: #dfdfdf;
        left: 0;
        top: 0;
        z-index: 10;
    }
}

.dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 4rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
    overflow-y: auto;
}

.dropdown-content {
    position: relative;
    top: 2rem;
    width: 100%;
    text-align: center;
}

.dropdown a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #030303;
    display: block;
    transition: 0.3s;
}
.dropdown a:hover,
.dropdown a:focus {
    color: #a0181f;
}

/*-----------------------*/
/*      Body Styles      */
/*-----------------------*/
.shadow {
    box-shadow: 0 0 5px rgba(155, 155, 155, 0.7);
    -moz-box-shadow: 0 0 5px rgba(155, 155, 155, 0.7);
    -webkit-box-shadow: 0 0 5px rgba(155, 155, 155, 0.7);
    -o-box-shadow: 0 0 5px rgba(155, 155, 155, 0.7);
}

/* Image at the top of the page */
.page-image {
    width: 100%;
    background-size: cover;
    background-position: 0% 15%;
    background-repeat: no-repeat;
}

/* Title for content pages */
.title-banner {
    width: 100%;
    background-color: #a0181f;
}
.title-banner img {
    width: 60%;
    padding-right: 3%;
    background-color: rgb(245, 245, 245, 0.4);
}

/* Content sections (as seen on home page) */
.section {
    padding-bottom: 1rem;
    min-height: 150px;
    height: 100%;
    text-align: center;
}

.section-button {
    vertical-align: middle;
    text-decoration: none;
}

/* Title for content sections */
.floater {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
}

/* Title for content pages */
.page-content {
    height: 100%;
    font-size: 1.1rem;
    text-align: justify;
    color: #202020;
}

.anchor {
    visibility: hidden;
    display: block;
    position: relative;
}

@media only screen and (min-width: 872px) {
    /* Image at the top of the page */
    .page-image {
        height: 950px;
    }

    /* Title for content pages */
    .title-banner {
        padding: 13px 0 10px 0;
    }
    .title-banner img {
        min-width: 700px;
        padding-left: 5%;
        border-radius: 0 15px 15px 0;
    }

    /* Header for content pages */
    .page-content {
        width: 65%;
        margin: 75px 17.5% 75px 17.5%;
    }

    /* Content sections (as seen on home page) */
    .section-button-container {
        margin: 2% 40% 2% 40%;
        width: 20%;
    }

    .section-button {
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        height: 75px;
        line-height: 75px;
    }
}

@media only screen and (max-width: 872px) {
    /* Image at the top of the page */
    .page-image {
        max-height: 17rem;
    }

    /* Title for content pages */
    .title-banner {
        padding: 0.75rem 0 0.5rem 0;
    }
    .title-banner img {
        width: 85%;
        min-width: 12rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    /* Title for content pages */
    .page-content {
        width: 80%;
        margin: 0;
        padding: 2rem 10% 4rem 10%;
    }

    /* Use with anchor tags to jump below header */
    .anchor {
        top: -4rem;
    }

    /* Content sections (as seen on home page) */
    .section-button-container {
        margin: 2rem 15% 2rem 15%;
        width: 70%;
    }

    .section-button {
        border-radius: 0.5rem;
        padding: 1rem 2rem 1rem 2rem;
        height: 3rem;
        line-height: 3rem;
    }
}

/*-------------------------*/
/*      Footer Styles      */
/*-------------------------*/
footer {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 130% 130%;
    background-position-x: -30vw;
    background-position-y: -1vh;
}

.footer-content {
    color: #dfdfdf;
    text-align: center;
}

.social-media {
    display: table;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-media-wrapper {
    display: table-row;
}

.social-media-icon {
    display: table-cell;
    color: #dfdfdf;
}
.social-media-icon:hover {
    color: #a0181f;
}

.email {
    color: #dfdfdf;
}
.email:hover {
    color: #a0181f;
}

@media only screen and (min-width: 872px) {
    footer {
        height: 180px;
    }

    .footer-content {
        padding: 20px 0 20px 0;
        font-size: 14px;
    }

    .social-media {
        margin-left: 45vw;
        margin-right: 45vw;
        width: 10vw;
    }

    .social-media-icon {
        width: 40px;
        height: 40px;
        padding: 0 20px 0 20px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 872px) {
    footer {
        height: 14rem;
        box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
    }

    .footer-content {
        padding: 2rem 0 0 0;
        font-size: 1rem;
    }

    .social-media {
        margin-left: 35vw;
        margin-right: 35vw;
        width: 30vw;
    }

    .social-media-icon {
        font-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
    }
}
