@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

/****************************/ 
/*      Default Styles      */
/****************************/
html {
    overflow-x: hidden;
    /* background-color: #dfdfdf; */
}

body {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    height: 100%;
    width: 100%;
}

b {
    font-weight: bold;
    color: #a0181f;
}

@media only screen and (max-width: 872px) {
    .page-container-desktop {
        display: none;
    }
    .page-container-mobile {
        height: 100%;
        width: 100%;
        display: block;
    }
    ul {
        text-align: left;
    }
}

@media only screen and (min-width: 872px) {
    .page-container-desktop {
        height: 100%;
        width: 100%;
        display: block;
    }
    .page-container-mobile {
        display: none;
    }
}

/* Set the appropriate base font-size for the screen */
@media only screen and (max-width: 400px) { /* Older Phones */
    html {
        font-size: 14px;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) { /* Newer Phones */
    html {
        font-size: 18px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 872px) { /* Tablets */
    html {
        font-size: 24px;
    }
}

header {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

/*      Content Styles      */
@media only screen and (min-width: 872px) {
    main {
        padding-top: 150px;
        padding-bottom: 180px;
    }
}
@media only screen and (max-width: 872px) {
    main {
        margin-top: 4rem;
        margin-bottom: 14rem;
    }
}


/****************************/ 
/*      Desktop Styles      */
/****************************/
 
/*      Header Styles       */
.header-desktop {
    position: absolute;
    top: -20px;
}

.banner {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 130% 130%;
    background-position-x: -30vw;
    background-position-y: -1vh;
    height: 150px;
    width: 100vw;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.logo {
    position: absolute;
    height: 120px;
    width: 120px;
    top: 23px;
    left: 10px;
    border: 1px solid #404040;
    border-radius: 75px;
    z-index: 5;
}
.logo:hover {
    cursor: pointer;
    border: 2px solid #a0181f;
    left: 9px;
    top: 22px;
}

.header-title {
    position: absolute;
    font-size: 54px;
    font-family: 'Cinzel', serif;
    color: #dfdfdf;
    right: 75px;
    top: 25px;
    z-index: 4;
}
.header-subtitle {
    position: absolute;
    font-size: 36px;
    font-family: 'Cinzel', serif;
    color: #a0181f;
    right: 80px;
    top: 75px;
}

nav {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 115px;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

nav a {
    color: #dfdfdf;
    font-size: 18px;
    text-decoration: none;
    width: 100px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    border-bottom: 2px solid #dfdfdf;
}
nav a:hover{
    color: #a0181f;
    border-bottom: 2px solid #a0181f;
}


/*      Body Styles      */
.title-banner {
    width: 60%;
    margin-left: 5%;
}

.page-content {
    height: 100%;
    width: 80%;
    margin: 30px 10% 30px 10%;
    text-align: justify;
}

/*      Footer Styles      */
.footer-desktop {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 130% 130%;
    background-position-x: -30vw;
    background-position-y: -1vh;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
}
.footer-content {
    padding: 20px 0px 20px 0px;
    color: #dfdfdf;
    text-align: center;
    font-size: 14px;
}

.social-media {
    display: table;
    margin-left: 47.5vw;
    margin-right: 47.5vw;
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-media-wrapper {
    display: table-row;
    width: 5vw;
}

.social-media-icon {
    color: #dfdfdf;
    width: 40px;
    height: 40px;
    display: table-cell;
    font-size: 24px;
}
.social-media-icon:hover {
    color: #a0181f;
}

.email {
    color: #dfdfdf;
}
.email:hover {
    color: #a0181f;
}


/****************************/ 
/*      Mobile Styles       */
/****************************/

/*      Header Styles       */
.header-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    text-align: right;
    background-color: black;
    color: #dfdfdf;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.mobile-header-title {
    position: absolute;
    right: 0.75rem;
    color: #dfdfdf;
    font-family: 'Cinzel', serif;
    font-size: 1.75rem;
}

.mobile-header-subtitle {
    position: absolute;
    right: 0.75rem;
    top: 2rem;
    color: #a0181f;
    font-family: 'Cinzel', serif;
    font-size: 1.25rem;
}

/* Mobile Navigation */
.menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 4rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: hidden;
    transition: 0.5s;
}

.menu-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}

.menu a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.menu a:hover, .menu a:focus {
    color: #a0181f;
}
.menu .close-button {
    position: absolute;
    height: 3rem;
    width: 3rem;
    right: 0;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 2.5rem;
    color: #a0181f;
}

.open-button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 4rem;
    vertical-align: middle;
    cursor: pointer;
    font-size: 3.5rem;
}

/*      Body Styles         */
.title-banner-mobile {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: -1.5rem;
}

/*      Footer Styles        */
.footer-mobile {
    position: absolute;
    bottom: 0;
    height: 14rem;
    width: 100%;
    background-color: #101010;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
}

.footer-content-mobile {
    padding: 2rem 0 0 0;
    color: #dfdfdf;
    text-align: center;
    font-size: 1rem;
}

.social-media-mobile {
    display: table;
    margin-left: 40vw;
    margin-right: 40vw;
}

.social-media-wrapper-mobile {
    display: table-row;
    width: 20vw;
}


.social-media-icon-mobile {
    display: table-cell;
    color: #dfdfdf;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
}
.social-media-icon-mobile:hover {
    color: #a0181f;
}